@import './base.css';

#app {

  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
  transition: 0.4s;
}

input {
  background: none;
  border: none;
}

input:focus {
  outline: none;
}